.card-header{
    background-color: silver;
    text-align: center;

}

.card-header-text{
    color: #b6233e;
}

.product-list-form{
    display: flex;
    margin-bottom: 2rem;
}

.participants{
    margin-top: 1rem;
}

.participant-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:  2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
}

.event-participant-label{
    color: red;
    background-color: #fff;
}
